<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rentings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <h2>
            Rentings of vehicle
            <span th:text="${vehicle.plate}">01</span> in RentACar
            <span th:text="${rentACar.name}">Renter</span>
        </h2>
        <a class="btn btn-default pull-right" th:href="@{/rentacars/{code}/vehicles(code=${rentACar.code})}">Vehicles</a>
        <br/>
        <h3>Create Renting</h3>
        <p class="text-danger" th:text="${error}">Error</p>
        <form class="form-inline" th:action="@{/rentacars/{code}/vehicles/{plate}/rentings(code=${rentACar.code},plate=${vehicle.plate})}" th:object="${renting}" method="post">
            <label>Driving license: </label>
            <input class="form-control" type="text" th:field="*{drivingLicense}" />
            <label>Begin: </label>
            <input class="form-control" type="date" th:field="*{begin}" />
            <label>End: </label>
            <input class="form-control" type="date" th:field="*{end}" />
            <label>NIF: </label>
            <input class="form-control" type="text" th:field="*{nif}" />
            <label>IBAN: </label>
            <input class="form-control" type="text" th:field="*{iban}" />
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
        <br/>
        <h3>List of Rentings</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Driving license</th>
                    <th>Begin</th>
                    <th>End</th>
                    <th>NIF</th>
                    <th>IBAN</th>
                    <th>Reference</th>
                    <th>Checkout</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="renting : ${vehicle.rentings}">
                    <td th:text="${renting.drivingLicense}">br123456</td>
                    <td th:text="${renting.begin}">12/12/2016</td>
                    <td th:text="${renting.end}">21/12/2016</td>
                    <td th:text="${renting.nif}">nif</td>
                    <td th:text="${renting.iban}">iban</td>
                    <td th:text="${renting.reference}">xpto3456</td>
                    <td th:text="${renting.kilometers}">0</td>
                    <td><form class="form-inline" th:action="@{/rentacars/{code}/vehicles/{plate}/rentings(code=${rentACar.code},plate=${vehicle.plate})}" th:object="${renting}" method="put">
                        <label>Kilometers </label>
                        <input class="form-control" type="number" th:field="*{kilometers}" />
                        <input class="form-control" type="hidden" th:field="*{reference}" value="${renting.reference}" />
                    </form></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>