<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Brokers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<br/>
		<h2>
			Welcome to Brokers' Manager
		</h2>
		<br/>
		<h3>Create Broker</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form th:action="@{/brokers}" th:object="${broker}" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="form_1">Name</label>
					<input class="form-control" id="form_1" type="text" th:field="*{name}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_2">Code</label>
					<input class="form-control" id="form_2" type="text" th:field="*{code}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_3">NIF as Seller</label>
					<input class="form-control" id="form_3" type="text" th:field="*{NifAsSeller}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_4">NIF as Buyer</label>
					<input class="form-control" id="form_4" type="text" th:field="*{NifAsBuyer}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_5">IBAN</label>
					<input class="form-control" id="form_5" type="text" th:field="*{Iban}" />
				</div>
			</div>
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of Brokers</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Code</th>
					<th>NIF as Seller</th>
					<th>NIF as Buyer</th>
					<th>IBAN</th>
					<th>Adventures</th>
					<th>Bulks</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="broker: ${brokers}">
					<td th:text="${broker.name}">Name</td>
					<td th:text="${broker.code}">Code</td>
					<td th:text="${broker.NifAsSeller}">NIF as Seller</td>
					<td th:text="${broker.NifAsBuyer}">NIF as Buyer</td>
					<td th:text="${broker.Iban}">IBAN</td>
					<td><a
						th:href="@{/brokers/{code}/adventures(code=${broker.code})}">Link</a></td>
					<td><a
						th:href="@{/brokers/{code}/bulks(code=${broker.code})}">Link</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>