<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bulks</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<br/>
		<a class="btn btn-default pull-right" th:href="@{/brokers}">&#8592; Go back to Brokers</a>
		<h2>
			Welcome to Broker <span th:text="${broker.name}">Name</span> Bulk Room Bookings
		</h2>
		<br/>
		<h3>Create Bulk Booking</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form th:action="@{/brokers/{code}/bulks(code=${broker.code})}" th:object="${bulk}" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="form_1">Number</label>
					<input class="form-control" id="form_1" type="number" th:field="*{number}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_2">Arrival</label>
					<input class="form-control" id="form_2" type="date" min="2018-03-24" max="2019-03-24" th:field="*{arrival}" />  
				</div>
				<div class="form-group col-md-6">
					<label for="form_3">Departure</label>
					<input class="form-control" id="form_3" type="date" min="2018-03-24" max="2019-03-24" th:field="*{departure}" />
				</div>
				<div class="form-group col-md-6">
						<label for="form_4">Client NIF</label>
						<input class="form-control" id="form_4" type="text" th:field="*{nif}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_5">Client IBAN</label>
					<input class="form-control" id="form_5" type="text" th:field="*{iban}" />
				</div>
			</div>
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<br/>
		<h3>List of Bulk Bookings</h3>
 		<table class="table table-striped">
			<thead>
				<tr>
					<th>Number</th>
 					<th>Arrival</th>
					<th>Departure</th>
					<th>Actual Number</th>
					<th>Client NIF</th>
					<th>Client IBAN</th>
					<th>Cancelled</th>
					<th>References</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bulk: ${broker.bulks}">
					<td th:text="${bulk.number}">number</td>
 					<td th:text="${bulk.arrival}">arrival</td>
					<td th:text="${bulk.departure}">departure</td>
					<td th:text="${bulk.actualNumber}">actual number</td>
					<td th:text="${bulk.nif}">NIF</td>
					<td th:text="${bulk.iban}">IBAN</td>
					<td th:text="${bulk.cancelled}">cancelled</td>
					<td><p th:each="reference: ${bulk.references}"><span th:text="${reference}">reference</span></p></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>