<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Offers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Offers of Activity <span th:text="${activity.name}">Tracking</span> of <span th:text="${activity.nameProvider}">eXtreme</span>
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/providers/{codeProvider}/activities(codeProvider=${activity.codeProvider})}">Activities</a>
		<br/>
		<h3>Create Offer</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form th:action="@{/providers/{codeProvider}/activities/{codeActivity}/offers(codeProvider=${activity.codeProvider},codeActivity=${activity.code})}" th:object="${offer}" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Begin: </label>
					<input class="form-control" type="date" th:field="*{begin}" />
				</div>
				<div class="form-group col-md-6">
					<label>End: </label>
					<input class="form-control" type="date" th:field="*{end}" />
				</div>
				<div class="form-group col-md-6">
					<label>Capacity: </label>
					<input class="form-control" type="number" th:field="*{capacity}" />
				</div>
				<div class="form-group col-md-6">
					<label>Amount: </label>
					<input class="form-control" type="number" th:field="*{amount}" />
				</div>
			</div>
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of Offers</h3>
 		<table class="table table-striped">
			<thead>
				<tr>
					<th>Begin</th>
 					<th>End</th>
 					<th>Capacity</th>
					<th>Amount</th>
 					<th>Reservations</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="offer: ${activity.offers}">
					<td th:text="${offer.begin}">12/12/2017</td>
 					<td th:text="${offer.end}">12/12/2107</td>
 					<td th:text="${offer.capacity}">20</td>
					<td th:text="${offer.amount}">120</td>
				 	<td><a th:href="@{/providers/{codeProvider}/activities/{codeActivity}/offers/{offer}/reservations(codeProvider=${activity.codeProvider}, codeActivity=${activity.code}, offer=${})">Bookings</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
