<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TaxPayers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<br/>
		<h2>
			Welcome to Tax Payers' Manager
		</h2>
		<br/>
		<h3>Create Tax Payer</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form th:action="@{/taxpayers}" th:object="${taxpayer}" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="form_1">Nif</label>
					<input class="form-control" id="form_1" type="text" th:field="*{nif}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_2">Name</label>
					<input class="form-control" id="form_2" type="text" th:field="*{name}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_3">Address</label>
					<input class="form-control" id="form_3" type="text" th:field="*{address}" />
				</div>
				<div class="form-group col-md-6">
					<label for="form_4">Type</label>
					<select class="form-control" id="form_4" th:field="*{type}" >
						<option type="text" th:value="Buyer" th:text="Buyer"></option>
						<option type="text" th:value="Seller" th:text="Seller"></option>
					</select>
				</div>
			</div>
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<br/>
		<h3>List of TaxPayers</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>NIF</th>
					<th>Name</th>
					<th>Address</th>
					<th>Class</th>
					<th>Invoices</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="taxpayer: ${taxpayers}">
					<td th:text="${taxpayer.nif}">NIF</td>
					<td th:text="${taxpayer.name}">Name</td>
					<td th:text="${taxpayer.address}">Address</td>
					<td th:text="${taxpayer.type}">Class</td>
					<td><a
						th:href="@{/taxpayers/{nif}/invoices(nif=${taxpayer.nif})}">Invoices</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html> 